#!/usr/bin/make -f

DEB_BUILD_MAINT_OPTIONS=    hardening=+all
export DEB_BUILD_MAINT_OPTIONS

# override_dh_auto_configure:
# dh_auto_configure -- -Dwith_docs=false -Dwith_manpages=enabled -Dpython_name=python3 -Dwith_py2=false -Dskip_formatters=true -Ddeveloper_build=false

%:
	dh '$@' --with python3 --buildsystem=cmake
